<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li class="sidebar-item" class.active="Alert" ngbDropdown placement="bottom-end">
            <a
              ngbDropdownToggle
              class="sidebar-link waves-effect waves-dark"
              href="javascript:void(0)"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            ><i class="bi bi-bell"></i>
              <span>Gestion des répertoires</span>
            </a>
            <div class="nav-small-cap" ngbDropdownMenu>
              <a class="dropdown-item" routerLink="/component/table">Gitlab</a>
              <a class="dropdown-item" routerLink="/component/badges">Svn</a>
            </div>
          </li>
        <!-- First level menu -->
        <li class="sidebar-item" [class.active]="showMenu === sidebarnavItem.title" *ngFor="let sidebarnavItem of sidebarnavItems"
            [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
            <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title}}</div>
            <a class="sidebar-link waves-effect waves-dark" [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
                [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;" (click)="addExpandClass(sidebarnavItem.title)"
                [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
                <i [ngClass]="[sidebarnavItem.icon]"></i>
                <span class="hide-menu">{{sidebarnavItem.title}}</span>
            </a>
        </li>
        
    </ul>
</nav>